.App {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  background-size: cover;
}

.title {
  color: white;
  margin-top: 0;
}

label {
  color: white; /* Set the label color to white */
}
