.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  background-size: cover;
}

.title {
  color: white;
  margin-top: 0;
}

.ex1 {
  margin-top: "20px";
}
